{% extends "base.html" %}
{% block content %}
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Действующие прокаты</h2>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button  data-toggle="modal" data-target="#Modal" data-url="{{ url_for('add_rental') }}"
                   type="button" class="btn btn-sm btn-outline-secondary edit-modal-opener">Добавить прокат</button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Дата выдачи</th>
              <th scope="col">Срок проката</th>
              <th scope="col">Дата возврата</th>
              <th scope="col">Автомобиль</th>
              <th scope="col">Клиент</th>
              <th scope="col">Цена проката</th>
              <th scope="col">Сотрудник-менеджер</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for item in active_rental %}
              <tr>
                <td>{{ item.issue_date.strftime('%H:%M %Y-%m-%d') }}</td>
                <td>{{ item.rental_period }}</td>
                <td>
                  {% if item.return_date %}
                   {{ item.return_date.strftime('%H:%M %Y-%m-%d') }}
                  {% endif %}
                </td>
                <td>{{ item.car }}</td>
                <td>{{ item.client }}</td>
                <td>{{ item.rental_price }}</td>
                <td>{{ item.employee }}</td>
                <td>
<!--                    <form action="{{ url_for('finish_rental') }}?id={{ item.id }}">-->
                        <button onclick="window.location.href='{{ url_for('finish_rental') }}?id={{ item.id }}'" type="submit" class="btn btn-sm btn-outline-secondary">Завершить</button>
<!--                    </form>-->
                </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Законченные прокаты</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Дата выдачи</th>
              <th scope="col">Срок проката</th>
              <th scope="col">Дата возврата</th>
              <th scope="col">Автомобиль</th>
              <th scope="col">Клиент</th>
              <th scope="col">Цена проката</th>
              <th scope="col">Сотрудник-менеджер</th>
            </tr>
          </thead>
          <tbody>
          {% for item in finished_rental %}
              <tr>
                <td>{{ item.issue_date.strftime('%H:%M %Y-%m-%d') }}</td>
                <td>{{ item.rental_period }}</td>
                  {% if item.return_date %}
                    <td>{{ item.return_date.strftime('%H:%M %Y-%m-%d') }}</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                <td>{{ item.car }}</td>
                <td>{{ item.client }}</td>
                <td>{{ item.rental_price }}</td>
                <td>{{ item.employee }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
